@{
    /**/

    ViewBag.Title = "About";
}


<h1>Hello<span class="text-primary">.</span> I am Sarvesh <span class="text-primary">Patel</span></h1>

<h3>Full stack Web<span class=" text-primary"> Developer</span></h3>

<section id="about">
    <div class="container">
        <div class="page-header space-left">
            <h3>About<span class="text-primary"> Me.</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <h5>Full Name</h5>
                </div>
                <p>Sarveshwar Patel</p>
            </div><!-- / feature -->
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-calendar-full"></i>
                    </div>
                    <h5>Bithdate</h5>
                </div>
                <p>Oct., 1984</p>
            </div><!-- / feature -->
            <div class="col-md-4 feature-left space-bottom">
                <div class="feature block">
                    <div class="feature-icon">
                        <i class="lnr lnr-map-marker"></i>
                    </div>
                    <h5>Address</h5>
                </div>
                <p>Winston salem, NC</p>
            </div><!-- / feature -->
        </div><!-- / row -->
        <!-- / features -->
        <!-- awards -->
        <div class="page-header space-left">
            <h3>Awards<span class="text-primary">.</span></h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="award">
                    <h5 class="text-primary">Best Website of 2016</h5>
                    <p>Vestibulum nec condimentum mauris. Nullam sit amet purus auctor porttitor.</p>
                </div>
            </div><!-- / award -->
            <div class="col-md-4">
                <div class="award">
                    <h5 class="text-primary">Best Logo of 2016</h5>
                    <p>Vestibulum nec condimentum mauris. Nullam sit amet purus auctor porttitor.</p>
                </div>
            </div><!-- / award -->
            <div class="col-md-4">
                <div class="award">
                    <h5 class="text-primary">Best Branding of 2016</h5>
                    <p>Vestibulum nec condimentum mauris. Nullam sit amet purus auctor porttitor.</p>
                </div>
            </div><!-- / award -->
        </div><!-- / row -->
        <!-- / awards -->
        <!-- facts -->
        <div id="facts">
            <div class="page-header space-left">
                <h3>Project Facts<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <!-- fact -->
                <div class="col-md-4">
                    <i class="fact-icon lnr lnr-rocket"></i>
                    <h3 class="timer" id="websites" data-to="5" data-speed="1000">1</h3>
                    <h5 class="fact-title">Javascripts Exercises (Training)</h5>
                </div>
                <!-- /fact -->
                <!-- fact -->
                <div class="col-md-4">
                    <i class="fact-icon lnr lnr-pencil"></i>
                    <h3 class="timer" id="logos" data-to="2" data-speed="1500">1</h3>
                    <h5 class="fact-title">Blog Project (Training)</h5>
                </div>
                <!-- /fact -->
                <!-- fact -->
                <div class="col-md-4">
                    <i class="fact-icon lnr lnr-users"></i>
                    <h3 class="timer" id="template" data-to="1" data-speed="2500">1</h3>
                    <h5 class="fact-title">Bug Tracker (Training)</h5>
                </div>
                <div class="col-md-4">
                    <i class="fact-icon lnr lnr-users"></i>
                    <h3 class="timer" id="template" data-to="2" data-speed="2500">1</h3>
                    <h5 class="fact-title">Financial Portal (Training)</h5>
                </div>
                <div class="col-md-4">
                    <i class="fact-icon lnr lnr-users"></i>
                    <h3 class="timer" id="template" data-to="2" data-speed="2500">1</h3>
                    <h5 class="fact-title">CMS (Training)</h5>
                </div>
                <!-- /fact -->
            </div><!-- / row -->
        </div>
        <!-- / facts -->
        <!-- skills -->
        <div id="skills">
            <div class="page-header space-left">
                <h3>Skills<span class="text-primary">.</span></h3>
            </div>
            <div class="row">
                <!-- progress-bars left -->
                <div class="col-sm-6">
                    <h6 class="progress-title">ASP.NET MVC</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div><!-- / progress -->
                    <h6 class="progress-title">ASP.NET CORE</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div><!-- / progress -->
                    <h6 class="progress-title">Javascript</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                    <h6 class="progress-title">Bootstrap</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div><!-- / progress -->
                </div>
                <!-- / progress-bars left -->
                <!-- progress-bars right -->
                <div class="col-sm-6">
                    <h6 class="progress-title">HTML5</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div><!-- / progress -->
                    <h6 class="progress-title">CSS</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div><!-- / progress -->
                    <h6 class="progress-title">Jquery</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                    
                        <h6 class="progress-title">SSMS</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            </div>
                        </div><!-- / progress -->
                    
                    <!-- / progress-bars right -->
                </div><!-- / row -->
        </div>
        <!-- / skills -->
    </div><!-- / container -->
</section>
<section id="education">
    <div class="container">
        <div class="page-header">
            <h3>Education<span class="text-primary">.</span></h3>
        </div>
        <div class="timeline  border-color">
            <div class="timeline-item">
                <div class="timeline-point  off-timeline-point  point-color"></div>
                <div class="row">
                    <div class="col-md-3 timeline-info">
                        <p class="timeline-date">1998-2006</p>
                        <h4 class="timeline-com">Academy of Arts</h4>
                        <h6 class="timeline-role">Graphic Design</h6>
                        <p class="timeline-location">Miami, FL</p>
                    </div><!-- / timeline-info -->
                    <div class="col-md-9 timeline-details">
                        <p>
                            Quisque eu eleifend sapien. Sed et eros non nibh eleifend tempus. Sed rhoncus mauris in tellus viverra, in molestie turpis feugiat. Fusce massa massa, convallis ut elit ac, dictum porta odio. Aenean viverra neque id turpis maximus cursus. Etiam vitae mi eros. Duis vestibulum orci ex, in vulputate.
                        </p>
                    </div><!-- / timeline-details -->
                </div><!-- / row -->
            </div><!-- / timeline-item -->
            <div class="timeline-item">
                <div class="timeline-point  off-timeline-point  point-color"></div>
                <div class="row">
                    <div class="col-md-3 timeline-info">
                        <p class="timeline-date">2006-2010</p>
                        <h4 class="timeline-com">Tech University</h4>
                        <h6 class="timeline-role">Technology</h6>
                        <p class="timeline-location">New York, NY</p>
                    </div><!-- / timeline-info -->
                    <div class="col-md-9 timeline-details">
                        <p>
                            Quisque eu eleifend sapien. Sed et eros non nibh eleifend tempus. Sed rhoncus mauris in tellus viverra, in molestie turpis feugiat. Fusce massa massa, convallis ut elit ac, dictum porta odio. Aenean viverra neque id turpis maximus cursus. Etiam vitae mi eros. Duis vestibulum orci ex, in vulputate.
                        </p>
                    </div><!-- / timeline-details -->
                </div><!-- / row -->
            </div><!-- / timeline-item -->
            <div class="timeline-item">
                <div class="timeline-point  off-timeline-point  point-color"></div>
                <div class="row">
                    <div class="col-md-3 timeline-info">
                        <p class="timeline-date">2010-2013</p>
                        <h4 class="timeline-com">Web University</h4>
                        <h6 class="timeline-role">Web Design</h6>
                        <p class="timeline-location">Miami, FL</p>
                    </div><!-- / timeline-info -->
                    <div class="col-md-9 timeline-details">
                        <p>
                            Quisque eu eleifend sapien. Sed et eros non nibh eleifend tempus. Sed rhoncus mauris in tellus viverra, in molestie turpis feugiat. Fusce massa massa, convallis ut elit ac, dictum porta odio. Aenean viverra neque id turpis maximus cursus. Etiam vitae mi eros. Duis vestibulum orci ex, in vulputate.
                        </p>
                    </div><!-- / timeline-details -->
                </div><!-- / row -->
            </div><!-- / timeline-item -->
        </div><!-- / timeline -->
    </div><!-- / container -->
</section>