@{
    ViewBag.Title = "Home Page";
}

@*<img class=" img-fluid" src=" https://i.imgur.com/jZ3N88r.jpg" alt="Sample image" />*@

<div class="jumbotron">
    <h1>My Training at Coder-Foundry's BlogPost</h1>
    <p class="lead">Please register is your first time user.</p>
    <p><a href="http://localhost:50969//Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

</section>
<!-- / blog content -->
<!-- journal -->
<section id="journal">
    <div class="container">
        <div class="page-header space-left">
            <h3>Related Posts<span class="text-primary">.</span></h3>
        </div>
        <div id="posts-carousel" class="owl-carousel">
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
            <div class="blog block carousel-post">
                <img src="~/images/images/post.jpg" alt="">
                <h5>Post Title</h5>
                <p>Quisque eu eleifend sapien. Sed et eros non nibh eleifend nuiqe rhoncus mauris tempus [...]</p>
                <a href="#">Read More...</a>
            </div><!-- / carousel-post -->
        </div><!-- / posts-carousel -->
    </div><!-- / container -->
</section>